*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #FEFEFE;
    ;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}
.logo img{
    height: 92px;
    width: 223px;
}
nav ul li{
    display: inline-block;
}
.nav-items{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0 30px;
    transition: all 0.3s;
}

.nav-items:hover{
    color: #54B8FF;
}
.menu-bar{
    display: none;
}
.login-section-top button{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 20px;
    font-family: inherit;
    background-color: #54B8FF;
    color: #ffff;
    border: none;
}
#sign-btn{
    background-color: transparent;
    border: none ;
    color: #000000;
    cursor: pointer;
}
#sign-btn:active{
    color: #1a9bf7;
}
.hero-section{
    height: 720px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
}
.hero-section .hero-text{
    margin-left: 100px;
}
.mini-heading{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 20%;
    font-weight: 500;
    color: #2F2B71;
    margin-top: 100px;
}
.hero-image{
    position: relative;
    z-index: 1;
    margin-top: 100px;
}
.hero-text h1{
    font-size: 70px;
    color: #5F596E;
    font-weight: 700;
    line-height: 80px;
    margin: 60px 0;
}
.hero-text p{
    font-size: 20px;
    font-weight: 500;
    font-weight: 32px;
    margin: 60px 0;
}
.hero-btn{
    background-image: linear-gradient(rgb(84, 184, 255,1),rgb(84, 184, 240,1));
    padding: 20px 50px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffff;
    border: none;
    display: flex;
    align-items: center;
}
.hero-btn img{
    margin-left: 10px;
}
.top-mid{
    position: absolute;
    top: 0;
    left: 50%;
    
}
.left-top-icon{
    position: absolute;
    top: -80px;
}
.letf-bottom-icon{
    position: absolute;
    bottom: -60px;
    left: 0;
}
.right-top-icon{
    position: absolute;
    top: 0;
    right: 0;
}
.right-bottom-icon{
    position: absolute;
    bottom: 0;
    right: 0;
}
.other-1{
    position: absolute;
    top: 200px;
    left: 50px;
}
.other-2{
    position: absolute;
    top: 50px;
    left: 120px;
}
.other-3{
    position: absolute;
    top: -90px;
    left: 300px;
}
.other-4{
    position: absolute;
    top:-30px;
    left: 530px;
    z-index: 2;
}
.other-5{
    position: absolute;
    top: 150px;
    left: 590px;
    z-index: 2;
}
.bottom-mid{
    position: absolute;
    left: 500px;
    bottom: 0px;
}
.mide-side-page{
    display: flex;
    margin-top: 300px;
    padding: 0 155px;
    position: relative;
    justify-content: space-between;
    
}
.card{
    padding: 20px;
    width: 360px;
    background-color: #fcfcfc;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
    position: relative;
    z-index:2;
    margin-right: 400px;
}
.back-card{
    background-color: rgb(235, 235, 235);
    width: 360px;
    border-radius: 10px;
    height: 460px;
    position: absolute;
    z-index: -1;
    box-shadow: 2px 2px 10px rgb(202, 202, 202);

}
.card .card-image{
    margin-top: 30px;
}
.card-text{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;;
}
.card-text span{
    color: rgba(255, 115, 59, 1);
    margin: 20px 0;
    display: inline-block;
}
.card-text p{
    color:  rgba(137, 142, 146, 1);
    
}
.time-btn{
    display: flex;
    justify-content: space-between;
    color:rgba(137, 142, 146, 1);
    align-items: center;
    margin-top: 20px;
    
}
.time-btn button{
    margin-left: 10px;
    background-color:rgba(54, 113, 102, 1);
    padding: 5px 15px;
    border-radius: 10px;
    color: #ffff;
    border: none;
    
}
.top-side-card{
    width: 300px;
    height: 360px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 0;
    position: absolute;
    z-index: 3;
    top:-150px;
    left: 400px;
    box-shadow: 0px 5px  10px rgb(180, 180, 180);
}
.sector-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.sector-div .span1 { 
    background-color:#FFF3D4;
    width: 102px;  
    border-radius: 5px;
    padding: 5px 0px;
}
.sector-div .span2 {
    margin-left:  10px;
    background-color:#DCFFEE;
    padding: 5px 20px;
    border-radius: 5px;
}
.top-side-card-back{
    width: 200px;
    height: 380px;
    background-color: #eeeeee;
    position: absolute;
    z-index: -1;
    top:-150px;
    left: 470px;
    border-radius: 10px;
    box-shadow: 0px 5px  10px rgb(180, 180, 180);
}
.card-back-img{
    position: absolute;
    top: 200px;
    left: -100px;
}
.complete{
    position:absolute;
    top: 50px;
    left: -200px;
    z-index: 34;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 10px rgb(107, 107, 107);
    padding: 10px 5px;
    border-radius: 5px;
}
.right-side-text{
    width: 600px;
}
.right-side-text h2{
    font-size: 50px;
    margin-bottom: 40px;
}
.right-side-text p{
    color: #336C61;
    margin-bottom: 40px;
}
.right-side-text a{
    text-decoration: none;
}
.mid-top-plus{
    position: absolute;
    right: 300px;
    top: -200px;
}
.achivement-section{
    display: flex;
    margin:0px 100px;
    justify-content: center;
}
.achivement{
    margin: 0px 40px;
    text-align: center;
    max-width: 400px;
    height: 300px;
}
.achivement h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}
.feature-heading {
 margin:40px 20px ;
}
.feature-heading h3{
    font-size: 35px;
    font-weight: 600;
}
.feature-heading p {
    color:  #BDBDBD;
    margin-top: 20px;
    margin-bottom: 90px;
}
    
.feature-side{
    margin: 100px 170px;
    width: fit-content;
    margin: auto;
}
.feature-container{
    display: flex;
    justify-content: center;
}
.feature{
    margin: 0 20px;
}
.feature-price{
    display: flex;
    justify-content: center;
    
}
.feature-price p{
    margin: 20px 20px;
    color:#000000;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.feature-price img{
    margin-right: 5px;
}
.learning-side{
    display: flex;
    justify-content: center;
    margin: 200px 170px;
}
.learning-side .learning-text{
    margin-right: 100px;
    max-width: 500px;
}
.learning-side .learning-text a{
    color: #2F2B71;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 60px;
    display: inline-block;
}
.learning-side .learning-text h3{
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
}
.learning-side .learning-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom:40px ;
}
.learning-side .learning-text button{
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #54B8FF;
    border: none;
    color: white;
    
}
.learning-img{
    position: relative;
}
.lerning-img-top{
    position: absolute;
    top: -72px;
    left: -75px;
    z-index: -1;
}
.lerning-img-bottom{
    position: absolute;
    bottom: -30px;
    right: -36px;
    z-index: -1;
}
.review-side{
    margin: 0 170px;
    text-align: center;
    position: relative;
    
}
.mid-bottom-left{
    position: absolute;
    top: -159px;
    left: -163px
}
.review-container{
    position: relative;
    width: fit-content;
    margin: auto;
}
.newsletter-side{
    position: absolute;
    top: 90px;
    left: 100px;
    text-align: left;
}
.newsletter-side p{
    font-size: 18px;
    color: #8785AA;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
.newsletter-side h3{
    font-size: 40px;
    margin-bottom: 20px;
}
.newsletter-side input{
    height:  75px;
    width: 330px;
    outline: none;
    padding: 5px 70px 5px 10px;
    font-size: 22px;
    border: none;
}
.input-div{
    position: relative;

}
.input-div button{
    position: absolute;
    right: 12px;
    top: 15px;
    padding: 10px;
    background-color: #12294B;
}
.loging-form-png{
    position: absolute;
    bottom: -117px;
    right: -36px;
    z-index: -1;
}
.footer-side{
    width: 100%;
    display: flex;
    padding: 0 130px ;
    margin-top: 200px;
    padding-bottom:30px ;
    justify-content: center;
    align-items: center;
}
.footer-side li{
    list-style: none;
    margin-bottom: 22px;
}
.footer-side li a{
    font-size: 16px;
    color: #7A7A7E;
    font-weight: 400;
    text-decoration: none;

}
.footer-side h4{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;

}
.footer-image-cotainer h4{
    margin-bottom: 18px;
}
.footer-text-cotainer{
    margin: 0 100px;
}
.footer-image-cotainer{
    margin: 0 90px;
}
button:hover{
    background-color: #1a9bf7;
}


@media screen and (max-width:1375px) {
    .nav-container{
        padding: 20px 30px;
    }
    .nav-items{
        margin: 0 10px;
    }
    .mide-side-page{
        padding: 0 50px;
    }
    .achivement{
        margin: 60px 40px;
    }
}
@media screen and (max-width:1035px) {
    .nav-container{
        padding: 20px 30px;
        margin-bottom: 0px;
    }
    .nav-items{
        display: none;

    }
    .hero-section{
        margin-top: 50px;
    }
    .hero-section .hero-text{
        margin-left: 50px;
    }
   
    .hero-text .mini-heading{
        margin: 10px 0px;
    }
    .mide-side-page{
        flex-wrap: wrap;
        justify-content: center;
    }
        
}
@media screen and (max-width:500px){
    .nav-container{
        padding: 20px 20px;
        margin-bottom: 0px;
        width: 100vw;
    }
    .hero-section{
        margin-top: 50px;
        flex-wrap: wrap;
    }
    .bottom-mid{
        display: none;
    }
    .hero-image{
        display: none;
    }
    .top-mid{
        position: absolute;
        top: -50px;
        left: 50%;
        
    }
    .login-section-top{
        display: none;
    }
    .menu-bar{
        display: block;
    }
}
    
